.jumbotron-bg {
  position: relative;
  background-image: url('../react-wall.png'); /* Reemplaza con la URL de tu imagen */
  background-size: cover;
  background-position: center;
  height: 600px; /* Ajusta según necesites */
  display: flex;
  align-items: center;
}

.jumbotron-bg .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Capa negra semitransparente */
  z-index: 1;
}

.jumbotron-bg .container {
  z-index: 2;
}

html, body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      flex-direction: column;
    }

    main {
      flex: 1;
    }

    .footer {
      background-color: #000;
      color: #fff;
    }