.sidebar {
  min-height: 100vh;
  height: 100%;
  position: sticky;
  top: 0;
  box-shadow: 2px 0 8px rgba(0,0,0,0.08);
  z-index: 100;
}
.error-message {
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}